 <div class="centered">
  User admin, Pass admin
  <br><br>
  <ng-template pTemplate="header"> </ng-template>
  <input type="text" pInputText [(ngModel)]="username" placeholder="Username" />
  <br /><br />
  <input type="password" pInputText [(ngModel)]="password" placeholder="Password"/>
 <br /><br />
  <button (click)="login()" pButton type="button" label="Login"></button>
  <br>
  <br>
  <span *ngIf="errorMsg" style="color: red;">{{errorMsg}}</span>
  <ng-template pTemplate="footer"> </ng-template>
</div>
