

  <div class="centered">
    <input
      type="text"
      pInputText
      [(ngModel)]="person.name"
      placeholder="Name"
    />
    <br /><br />
    <input
      type="text"
      pInputText
      [(ngModel)]="person.email"
      placeholder="Email"
    />
    <br /><br />
    <input
      type="text"
      pInputText
      [(ngModel)]="person.address"
      placeholder="Address"
    />
    <br /><br />
    <p-calendar
      placeholder="Birth Date"
      [monthNavigator]="true"
      [yearNavigator]="true"
      yearRange="1900:2021"
      [(ngModel)]="person.dob"
    ></p-calendar>
    <br /><br />
    <p-dropdown
      [options]="personService.getCountries()"
      [(ngModel)]="person.country"
      placeholder="Select a Country"
      optionLabel="name"
      optionValue="country_code"
      [showClear]="true"
    ></p-dropdown>
    <br /><br />
    <label for="file"></label>
    <input type="file" id="file" (change)="handleFileInput($event)" />
    <br /><br />
    <button (click)="addPerson()" pButton type="button" label="Add Person"></button>
    <br />
  </div>

