    <br>
    <ng-template pTemplate="header"> </ng-template>
    <input type="text" pInputText [(ngModel)]="name" placeholder="Name" />
    <br /><br />
    <input type="text" pInputText [(ngModel)]="email" placeholder="Email" />
    <br /><br />
    <input type="text" pInputText [(ngModel)]="address" placeholder="Address" />
    <br /><br />
    <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" placeholder="Select a Country" optionLabel="name" optionValue="name" [showClear]="true"></p-dropdown>
    <br /><br />
    <input style="padding: 10px;" type="date"  [(ngModel)]="birthDate">
    Birth Date
    <br /><br />
    <button (click)="addPerson()" pButton type="button" label="Add"></button>
    <br>
    <ng-template pTemplate="footer"> </ng-template>
