:host ::ng-deep .p-dropdown {
    width: 14rem;
    font-weight: normal;
}
:host ::ng-deep .person-name {
    font-size: 1.5rem;
    font-weight: 700;
}
:host ::ng-deep .person-description {
    margin: 0 0 1rem 0;
}
:host ::ng-deep .person-counter-icon {
    vertical-align: middle;
    margin-right: 0.5rem;
}
:host ::ng-deep .person-counter {
    font-weight: 600;
    vertical-align: middle;
}
:host ::ng-deep .person-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
}
:host ::ng-deep .person-list-item img {
    width: 150px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: 2rem;
}
:host ::ng-deep .person-list-item .person-list-detail {
    flex: 1 1 0;
}
:host ::ng-deep .person-list-item .p-rating {
    margin: 0 0 0.5rem 0;
}
:host ::ng-deep .person-list-item .person-age {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    align-self: flex-end;
}
:host ::ng-deep .person-list-item .person-list-action {
    display: flex;
    flex-direction: column;
}
:host ::ng-deep .person-list-item .p-button {
    margin-bottom: 0.5rem;
}
:host ::ng-deep .person-grid-item {
    margin: 0.5em;
    border: 1px solid var(--surface-d);
}
:host ::ng-deep .person-grid-item .person-grid-item-top, :host ::ng-deep .person-grid-item .person-grid-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
:host ::ng-deep .person-grid-item img {
    width: 75%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 2rem 0;
}
:host ::ng-deep .person-grid-item .person-grid-item-content {
    text-align: center;
}
:host ::ng-deep .person-grid-item .person-age {
    font-size: 1.5rem;
    font-weight: 600;
}
@media screen and (max-width: 576px) {
    :host ::ng-deep .person-list-item {
        flex-direction: column;
        align-items: center;
   }
    :host ::ng-deep .person-list-item img {
        width: 75%;
        margin: 2rem 0;
   }
    :host ::ng-deep .person-list-item .person-list-detail {
        text-align: center;
   }
    :host ::ng-deep .person-list-item .person-age {
        align-self: center;
   }
    :host ::ng-deep .person-list-item .person-list-action {
        display: flex;
        flex-direction: column;
   }
    :host ::ng-deep .person-list-item .person-list-action {
        margin-top: 2rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
   }
}

table tr td{
    padding: 5px;
}

input[type=file]::file-selector-button {
    border: 2px solid #7e28f0;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #801af5;
    transition: 1s;
    color: white;
  }
  
  input[type=file]::file-selector-button:hover {
    background-color: #f311ba;
    border: 2px solid #ec07c6;
  }